* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'source code pro';
    font-size:medium;
    color: #000000;
  }

  .menu-container {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    width: fit-content;
    height: 50px;
  }
  
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .home-container, 
  .project-grid-container,
  .about-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

  }
  
  .home, .project-grid, .about {
    display: flex;
    justify-content: center;
    background-color: #ffffff;
    width: 800px;
    margin: 40px 0;
  }

  .about, .home {
    font-size: larger;
  }
  
  .home-item,
  .project-grid-item,
  .about-item {
    margin:auto;
    padding-top: 2%;
    flex:1.5
  } 

  .home-footer {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  .footer-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #ffffff;
  

}

.footer-item {
  justify-content: space-around;

  border: 1px solid #000000;
}

.footer-one {
  justify-self:flex-start;
}

.footer-three {
  justify-self:flex-end;

}


