* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'source code pro';
  font-size: large;
  color: #000000;
}

.menu-container {
  width: 1200px;
}

.menu {
  display: flex;
  justify-content: space-between;
  font-size: xx-small;
}


.menu-item-two {
  position: relative;
  right: 270px;
}

.menu-item-three {
  position: relative;
  left: 270px;
}


.svg {
  width: 15px;
  height: 15px;
}

.home-container,
.about-container {
  display: flex;
  flex-wrap: wrap;
  width: 900px;
  margin: 0 auto;
  flex-direction: row;
}

.home-container-two {
  flex-direction: column;
  position: relative;
  bottom: 150px;
  right: 250px;
  width: 500px;
  align-items: flex-start;
}

.home-container-three {
  position: relative;
  bottom: 80px;
}

.home-item-one {
  align-self: center;
}

.home-item-two {
  margin-top: 0px;
}

.home-item-four {
  position: relative;
  top: 3px;
  left: 10px;
}

.home-item-six {
  position: relative;
  top: 3px;
  left: 40px;
}

.home-item-five {
  position: relative;
  left: 30px;
}

.home,
.about {
  display: flex;
  justify-content: center;
  background-color: #ffffff;
  font-size: larger;
  margin: auto;
  padding-top: 2%;
  font-size: medium;
}

.about-item-two {
  margin-left: 30px;
  margin-bottom: 100px;
}

.project-grid-container {
  width: 900px;
  margin: 0 auto;
}

.project-grid {
  overflow: hidden;
}

.project {
  float: left;
  width: 47.5%;
  margin: 20px 1%;
  background-color: #f6f7f8;
  padding: 20px;
}

.article-image {
  float: left;
  width: 300px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.launch {
  width: 205px;
}

h1 {
  margin-bottom: 15px;
}

p,
.p {
  font-size: small;
  margin-bottom: 20px;
}